; general application settings
[runtime]
environment="$ENV||development"                                     ; runtime environment

[server]
port="$PORT||3000"                                                  ; listen port

; non environment config
sessionsecret=""                                                    ; secret for cookie encryption
csrftoken=""                                                        ; csrf token

[google]
creds="$GOOGLE_CREDS||||base64"                                     ; google service account credentials

