; general application settings
[runtime]
environment="$ENV||development"                                     ; runtime environment

[server]
port="$PORT||3000"                                                  ; listen port

; non environment config
csrftoken=""                                                        ; csrf token

[google]
creds="$GOOGLE_CREDS||||base64"                                     ; google service account credentials
mapstoken=""                                                        ; google maps token

[meetup]
token=""                                                            ; meetup.com api token
