; general application settings
[runtime]
environment="$ENV||development"                                     ; runtime environment

[server]
port="$PORT||3000"                                                  ; listen port

; non environment config
csrftoken=""                                                        ; csrf token

[google]
mapstoken=""                                                        ; google maps token
